name: Create Installers


on:
  workflow_dispatch:
    inputs:
      windows_builds:
        description: "Windows builds"
        required: false
        default: |
          [
            {
              "runner": "windows-latest",
              "displayed_name": "Windows Portable",
              "msystem": "UCRT64",
              "msys_package_env": "mingw-w64-ucrt-x86_64",
              "build_portable": true
            }
          ]
      linux_builds:
        required: false
        default: '[]'
      macos_builds:
        required: false
        default: '[]'
      head_sha:
        required: false
        default: ''
      artifact_version_suffix:
        required: false
        default: ''



jobs:
  ci-ubuntu:
    name: Create installer (Linux)
    if: ${{ inputs.linux_builds != '' && inputs.linux_builds != '[]' }}
    strategy:
      fail-fast: false
      matrix:
        run: ${{fromJSON(inputs.linux_builds)}}
    uses: ./.github/workflows/make-installer-linux.yml
    with:
      displayed_name: ${{ matrix.run.displayed_name }}
      gcc_version: ${{ matrix.run.gcc_version }}
      runner: ${{ matrix.run.runner }}
      build_appimage: ${{ matrix.run.build_appimage == 'true' }}
      extra_packages: ${{ matrix.run.extra_packages }}
      container_image: ${{ matrix.run.container_image }}
      head_sha: ${{ inputs.head_sha }}
      artifact_version_suffix: ${{ inputs.artifact_version_suffix }}
      extra_cmake_flags: ${{ matrix.run.extra_cmake_flags }}

  ci-windows:
    name: Create installer (Windows)
    if: ${{ inputs.windows_builds != '' && inputs.windows_builds != '[]' }}
    strategy:
      fail-fast: false
      matrix:
        run: ${{fromJSON(inputs.windows_builds)}}
    uses: ./.github/workflows/make-installer-windows.yml
    with:
      runner: ${{ matrix.run.runner }}
      displayed_name: ${{ matrix.run.displayed_name }}
      msystem: ${{ matrix.run.msystem }}
      msys_package_env: ${{ matrix.run.msys_package_env }}
      publish_portable_version:  ${{ matrix.run.build_portable == 'true' }}
      head_sha: ${{ inputs.head_sha }}
      artifact_version_suffix: ${{ inputs.artifact_version_suffix }}
      extra_cmake_flags: ${{ matrix.run.extra_cmake_flags }}

  ci-macos:
    name: Create installer (MacOS)
    if: ${{ inputs.macos_builds != '' && inputs.macos_builds != '[]' }}
    strategy:
      fail-fast: false
      matrix:
        run: ${{fromJSON(inputs.macos_builds)}}
    uses: ./.github/workflows/make-installer-macos.yml
    with:
      runner: ${{ matrix.run.runner }}
      displayed_name: ${{ matrix.run.displayed_name }}
      head_sha: ${{ inputs.head_sha }}
      artifact_version_suffix: ${{ inputs.artifact_version_suffix }}
      extra_cmake_flags: ${{ matrix.run.extra_cmake_flags }}
